# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Python tools / IDE
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Arduino temporary files
*.hex
*.bin

# Personal / local files
*.local
